TIEMPO_DE_REINTENTO_CONEXION=10
TIEMPO_REINTENTO_OPERACION=2
TIEMPO_RETARDO_OPERACION=3
PUNTO_MONTAJE_TALLGRASS=/home/utnso/Escritorio/tall-grass
IP_BROKER=127.0.0.1
PUERTO_BROKER=5000
LOG_FILE=/home/utnso/log_gamecard_new_pikachu.txt
LOG_FILE_EXTRA=/home/utnso/log_gamecard_extra.txt
IP=127.0.0.3
PUERTO=5001
PROCESS_ID=3
