POSICIONES_ENTRENADORES=[2|3,6|5,9|9]
POKEMON_ENTRENADORES=[Pikachu|Gengar,Squirtle|Pikachu, Onix|Pikachu]
OBJETIVOS_ENTRENADORES=[Pikachu|Squirtle,Pikachu|Gengar,Squirtle|Pikachu]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=RR
QUANTUM=3
ESTIMACION_INICIAL=5
ALPHA=0.5
IP_BROKER=127.0.0.1
PUERTO_BROKER=5003
LOG_FILE=/home/utnso/log_team1.txt
IP=127.0.0.2
PUERTO=5002
PROCESS_ID=1534
