POSICIONES_ENTRENADORES=[2|3,6|5,9|9,9|2,2|9]
POKEMON_ENTRENADORES=[D|C,A|A|E|E,B|B,B|D,C|B]
OBJETIVOS_ENTRENADORES=[A|A,B|B|B|B,C|C,D|D,E|E]
TIEMPO_RECONEXION=5
RETARDO_CICLO_CPU=1
ALGORITMO_PLANIFICACION=FIFO
QUANTUM=2
ESTIMACION_INICIAL=5
ALPHA=0.5
IP_BROKER=0.tcp.ngrok.io
PUERTO_BROKER=11701
LOG_FILE=/home/utnso/log_team1.txt
LOG_FILE_EXTRA=/home/utnso/log_team1_extra.txt
IP=127.0.0.2
PUERTO=5002
PROCESS_ID=1534
